body{
  max-width: 250px;
  margin: 0 auto;
  font-size: 1.5rem;
}
p{
  background-color: #1618b7;
  background-image: linear-gradient(to bottom right, rgba(0,0,0, 0),rgba(0,0,0, 0.2),rgba(0,0,0, 0.5),rgba(0,0,0, 1));
  border-radius: .5rem;
  border: 1px solid #0c0d63;
  color: #b1b1bf;
  line-height: 3rem;
  padding-bottom: .2rem;
  text-align: center;
  text-shadow: 1px 1px 3px white;
  width: 200px;
  box-shadow: 2px 2px 5px black,
              inset 2px 2px 5px rgba(255,255,255, 0.4),
              inset -2px -2px 5px rgba(0,0,0, 0.4);
}
