body{
    font-size: 20px;

    margin: 0;
    padding: 0;

}
.imgSection{
	max-width: 400px;
	margin: 100px auto;
}
img{
    opacity:1;
    transition:opacity 0.5s linear;
}
img:hover{
	opacity: 0;
}
#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 1s;
}

#delay:hover {
  font-size: 36px;
}