body{
	margin: 0;
	padding: 0;
	font-size: 20px;
}
h1{
	text-align: center;
}
main{
	max-width: 500px;
	margin: 0 auto;
}
li{
	font-size: 2rem;
}
button{
	border-radius: 2px;
	margin-left: 20px; 
}
.delBtn{
	background-color: gold;
}